name: golangci-lint
on:
  workflow_dispatch:
  push:
    paths:
      - '**.go'
      - 'go.mod'
      - '.golangci.yml'
      - '.github/workflows/golangci-lint.yaml'
  pull_request:
    paths:
      - '**.go'
      - 'go.mod'
      - '.golangci.yml'
      - '.github/workflows/golangci-lint.yaml'

jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
      - name: Setup Go SDK
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.21.0'
          check-latest: true
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          install-mode: binary
